<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" th:href="@{/layout/images/favicon.png}" />
<title>IFJIRA</title>

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/vendors.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/algaworks.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/layout/stylesheets/application.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/cervejeiro.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />

<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-multiselect.css}" />
	
<link rel="stylesheet" type="text/css"
	th:href="@{/stylesheets/vendors/bootstrap-toggle.min.css}" />
</head>

<body>
	<input type="hidden" name="_csrf" class="_csrf" th:value="${_csrf.token}" />
	<input type="hidden" name="_csrf_header" class="_csrf_header" th:value="${_csrf.headerName}" />
	<div class="aw-layout-page">
		<div th:replace="layout/fragments/barra_navegacao"></div>
		<div th:replace="layout/fragments/menu_lateral"></div>

		<section class="aw-layout-content  js-content"
			layout:fragment="conteudo"></section>

		<div th:replace="layout/fragments/rodape"></div>
	</div>

	<script th:src="@{/layout/javascripts/vendors.min.js}"></script>
	<script th:src="@{/layout/javascripts/algaworks.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.min.js}"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script th:src="@{/javascripts/vendors/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/javascripts/vendors/jquery.mask.min.js}"></script>
	<script th:src="@{/javascripts/cervejeiro.js}"></script>
	<script th:src="@{/javascripts/cervejeiro.dialogo-excluir.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-datepicker.min.js}"></script>
	<script
		th:src="@{/javascripts/vendors/bootstrap-datepicker.pt-BR.min.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-multiselect.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-toggle.min.js}"></script>
	<th:block layout:fragment="js-extra"></th:block>
</body>

</html>