<!DOCTYPE html>

<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		lang="pt-br"
 		layout:decorator="layout/layout_padrao"
>

<body>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de funcionário</h1>
			</div>
		</div>
		<div class="container-fluid">
			<th:block th:include="fragments/mensagem-sucesso"></th:block>

			<form method="POST" th:object="${funcionario}">
				
				<input type="hidden" th:field="*{id}" />
				
				<th:block th:include="fragments/mensagens-erro-validacao"></th:block>
		
				<div class="row">
					<div class="form-group  col-sm-6  cv-required" th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="nome" class="control-label">
							Nome
						</label>
						<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" />
					</div>
					
					<div class="form-group  col-sm-6  cv-required" th:classappend="${#fields.hasErrors('nomeUsuario')} ? has-error">
						<label for="usuario" class="control-label">
							Nome do usuário
						</label>
						<input 
							type="text" 
							class="form-control" 
							id="usuario" 
							th:field="*{nomeUsuario}" 
						/>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-6  cv-required" th:classappend="${#fields.hasErrors('email')} ? has-error">
						<label for="email" class="control-label">
							E-mail
						</label>
						<input type="text" class="form-control" id="email" th:field="*{email}" />
					</div>
					
					<div class="form-group  col-sm-6  cv-required" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
						<label for="cpf" class="control-label">
							CPF
						</label>
						<input type="text" class="form-control" id="cpf" th:field="*{cpf}" />
					</div>
						
				</div>
				
				<div class="row">
					<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('setor')} ? has-error">
						<label for="setor">Setor</label>
						<div class="cv-field-action">
							<select id="setor" class="form-control" name="setor">
								<option value="">Selecione um setor</option>
								<option
									th:each="setor : ${setores}"
									th:value="${setor.id}"
								 	th:text="${setor.nome}"
							   		th:field="*{setor.id}"
						   		></option>
							</select>
						</div>
					</div>
					
					<div class="col-sm-6 form-group" th:classappend="${#fields.hasErrors('grupo')} ? has-error">
						<label for="grupo">Grupo</label>
						<div class="cv-field-action">
							<select id="grupo" class="form-control" name="grupo">
								<option value="">Selecione um grupo</option>
								<option
									th:each="grupo : ${grupos}"
									th:value="${grupo.id}" 
									th:text="${grupo.nome}" 
									th:field="*{grupo.id}"
								></option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group" th:classappend="${#fields.hasErrors('salario')} ? has-error">
							<label for="salario">Salário</label>
							<div class="input-group">
								<div class="input-group-addon">R$</div>
								<input 
									id="salario" 
									name="salario" 
								 	th:field="*{salario}"
									type="text" 
									class="form-control js-decimal" 
									placeholder="R$" 
								/>
							</div>
						</div>
					</div>
					
					<div class="form-group  col-sm-4">
						<label class="control-label">Status</label>
						<div>
						<input type="checkbox"
								data-toggle="toggle" 
								data-on="Ativo"
								data-off="Inativo" 
								data-onstyle="success" 
								size="large"
								data-offstyle="danger" 
								th:field="*{ativo}" />
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-3 cv-required" th:classappend="${#fields.hasErrors('senha')} ?	has-error">
						<label for="senha" class="control-label">
							Senha
						</label>
						<input type="password" class="form-control" id="senha" th:field="*{senha}" />
					</div>

					<div class="form-group  col-sm-3" th:classappend="${#fields.hasErrors('confirmacaoSenha')} ? 
						has-error">
						<label for="confirmacaoSenha" class="control-label">
							Confirmar senha
						</label>
						<input 
							type="password" 
							class="form-control" 
							id="confirmacaoSenha" 
							th:field="*{confirmacaoSenha}" 
						/>
					</div>

				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>

		<div th:replace="estilo/cadastro_rapido_estilo"></div>
	</section>

</body>

<th:block layout:fragment="js-extra">
	<script type="text/javascript">
		$('.js-status').bootstrapSwitch();
	</script>
</th:block>

</html>