<!DOCTYPE html>
<html lang="pt" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/layout_padrao'" 
xmlns:brewer="http://brewer.algaworks.com"
xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Pesquisa de funcionários</title>

	<script>
		function limparForm() {
			document.getElementById("formulario").reset();
		}
	</script>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de funcionários</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/funcionario/novo}"> 
								<i class="glyphicon glyphicon-plus-sign"></i>
								<span class="hidden-xs  hidden-sm"> Nova funcionario</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${funcionariosFilter}" id="formulario">
				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label" for="nome">Nome</label>
						<input 
						 	th:field="*{nome}" 
							id="nome" 
							type="text" 
							class="form-control" 
							autofocus="autofocus"
					 	/>
					</div>

					<div class="form-group  col-sm-6">
						<label class="control-label" for="cpf">CPF</label>
						<input 
							id="cpf" 
							th:field="*{cpf}"
							type="text" 
							class="form-control" 
						 />
					</div>
				</div>
				
				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label" for="email">E-mail</label>
						<input 
						 	th:field="*{email}" 
							id="email" 
							type="text" 
							class="form-control" 
							autofocus="autofocus"
					 	/>
					</div>

					<div class="form-group  col-sm-6">
						<label class="control-label" for="nomeUsuario">Nome do usuário</label>
						<input 
							id="nomeUsuario" 
							th:field="*{nomeUsuario}"
							type="text" 
							class="form-control" 
						 />
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label" for="setor">Setor</label> 
						
						<select id="setor" class="form-control" th:field="*{setor}">
							<option value="">Todos os setores</option>
							<option 
								th:each="setor : ${setores}"
								th:text="${setor.nome}" 
								th:value="${setor.id}"
							></option>
						</select>
					</div>

					<div class="form-group  col-sm-6">
						<label class="control-label" for="grupo">Grupo</label>
						 
						<select id="grupo" class="form-control" th:field="*{grupo}">
							<option value="">Todos os grupos</option>
							<option 
								th:each="grupo : ${grupos}"
								th:text="${grupo.nome}" 
								th:value="${grupo.id}"
							></option>
						</select>
					</div>
				</div>
				
				<div class="row">
					
					<div class="col-sm-6  form-group">
						<label for="salarioDe">Salário</label>
						<div class="form-inline">
							<input 
								type="text" 
								class="form-control aw-form-control-inline-sm js-decimal js-limpar-number"
								id="salarioDe"
							 	th:field="*{salarioDe}" 
						 	/>

							<label for="salarioAte" class="aw-form-label-between">até</label>
							<input 
								type="text" 
								class="form-control aw-form-control-inline-sm js-decimal js-limpar-number" 
								id="salarioAte"
							 	th:field="*{salarioAte}" 
						 	/>
						</div>
					</div>
					
				</div>


				<button type="button" class="btn  btn-danger" onclick="limparForm()">Limpar</button>
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>



			<div class="table-responsive  cv-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-nome">
								<a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
									<span>Nome</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('nome')} ? tag" 
										th:if="${pagina.ordenada('nome')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-email">
								<a th:href="${pagina.urlOrdenada('email')}" th:remove="${pagina.vazia} ? tag">
									<span>E-mail</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('email')} ? tag" 
										th:if="${pagina.ordenada('email')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-cpf">
								<a th:href="${pagina.urlOrdenada('cpf')}" th:remove="${pagina.vazia} ? tag">
									<span>CPF</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('cpf')} ? tag" 
										th:if="${pagina.ordenada('cpf')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-salario">
								<a th:href="${pagina.urlOrdenada('salario')}" th:remove="${pagina.vazia} ? tag">
									<span>Salário</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('salario')} ? tag" 
										th:if="${pagina.ordenada('salario')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-nome-usuario">
								<a th:href="${pagina.urlOrdenada('nomeUsuario')}" th:remove="${pagina.vazia} ? tag">
									<span>Nome Usuário</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('nomeUsuario')} ? tag" 
										th:if="${pagina.ordenada('nomeUsuario')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-grupo">
								<a th:href="${pagina.urlOrdenada('grupo')}" th:remove="${pagina.vazia} ? tag">
									<span>Grupo</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('grupo')} ? tag" 
										th:if="${pagina.ordenada('grupo')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-setor">
								<a th:href="${pagina.urlOrdenada('setor')}" th:remove="${pagina.vazia} ? tag">
									<span>Setor</span>
									<span 
										class="dropup" 
										th:remove="${pagina.descendente('setor')} ? tag" 
										th:if="${pagina.ordenada('setor')}"
									>
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="funcionario : ${pagina.conteudo}">
<!-- 							<td class="text-center"> -->
<!-- 								<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive" /> -->
<!-- 							</td> -->
							<td th:text="${funcionario.nome}"></td>
							<td th:text="${funcionario.email}"></td>
							<td th:text="${funcionario.cpf}"></td>
							<td class="text-right" th:text="|R$ ${funcionario.salario}|">R$
							<td th:text="${funcionario.nomeUsuario}"></td>
							<td th:text="${funcionario.grupo.nome}"></td>
							<td th:text="${funcionario.setor.nome}"></td>
<!-- 								8.00</td> -->
							<td class="text-center">
								<a 	class="btn  btn-link  btn-xs"
									title="Editar"
									th:href="@{/funcionario/editar/{codigo}(codigo=${funcionario.id})}"
								> 
									<i	class="glyphicon 
										glyphicon-pencil">
									</i>
								</a>
								<a 	class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" 
									title="Excluir" 
									data:url="@{/funcionario/{codigo}(codigo=${funcionario.id})}"
									data:objeto="${funcionario}"
								>
									<i class="glyphicon glyphicon-remove"></i>
								</a>
								
							</td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="7">Nenhum funcionário encontrado.</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag">
							<span>&laquo;</span>
						</a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">
								[[${p}]]</a>
						</li>
					</th:block>

					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag">
							<span>&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</body>

</html>