<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_padrao">

<body>
	<div
		th:each="erro : ${#fields.detailedErrors('${projetoFuncionarioDto.*}')}">
		<span th:text="${erro.message}"></span>
	</div>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">

					<div th:if="${projetoFuncionarioDto.id}" class="col-sm-10">
						<h1>Altera funcionários em projetos</h1>
					</div>
					<!-- ELSE -->
					<div th:unless="${projetoFuncionarioDto.id}" class="col-sm-10">
						<h1>Cadastro de funcionários em projetos</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default"
								th:href="@{/projeto-funcionario/pesquisar}"> <i
								class="glyphicon  
											glyphicon-plus-sign"></i> <span
								class="hidden-xs  hidden-sm"> Pesquisa</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<th:block th:include="fragments/mensagem-sucesso"></th:block>
			<form method="post" class="form-vertical  js-form-loading"
				th:object="${projetoFuncionarioDto}">
				<th:block th:include="fragments/mensagens-erro-validacao"></th:block>
				<div class="row">
					<input id="id" type="hidden" class="form-control" name="id"
						th:field="*{id}" />
					<div class="form-group col-sm-3"
						th:classappend="${#fields.hasErrors('cargaHoraria')} ? has-error">
						<label for="input-produto-nome">Carga horária*</label> <input
							id="cargaHoraria" type="number" class="form-control"
							name="cargaHoraria" th:field="*{cargaHoraria}" />
					</div>
					<div class="form-group  col-sm-3">
						<label class="control-label">Gestor</label>
						<div>
							<input type="checkbox" data-toggle="toggle" data-on="Ativo"
								data-off="Inativo" data-onstyle="success" size="large"
								data-offstyle="danger" th:field="*{gestor}" />
						</div>
					</div>

					<div class="col-sm-3 form-group"
						th:classappend="${#fields.hasErrors('projeto')} ? has-error">
						<label for="funcionarios">Projeto*</label>
						<div class="cv-field-action">
							<select id="projeto" class="form-control" name="projeto">
								<option value="">Selecione o projeto</option>
								<option th:each="projeto : ${projetos}" th:value="${projeto.id}"
									th:text="${projeto.nome}"
									th:selected="(${projeto.id} == *{projeto?.id})"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-3">
						<label for="inicio" class="control-label"> Data de inicio</label>
						<input type="text" class="form-control  js-date"
							id="inicioParticipacao" th:field="*{inicioParticipacao}"
							autocomplete="off" />
					</div>

					<div class="form-group  col-sm-3">
						<label for="fim" class="control-label"> Data de término</label> <input
							type="text" class="form-control  js-date" id="fimParticipacao"
							th:field="*{fimParticipacao}" autocomplete="off" />
					</div>

					<div class="col-sm-3 form-group"
						th:classappend="${#fields.hasErrors('funcionarios')} ? has-error">
						<label for="funcionarios">Funcionários*</label>
						<div class="cv-field-action">
							<select id="funcionarios" class="form-control js-multiselect"
								name="funcionarios" multiple="multiple">
								<option th:each="funcionario : ${funcionarios}"
									th:value="${funcionario.id}" th:text="${funcionario.nome}"></option>
							</select>
						</div>
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>
	</section>

</body>
<th:block layout:fragment="js-extra">
	<script type="text/javascript">
		$(document).ready(function() {
			$('.js-status').bootstrapSwitch();
			//$('#funcionarios').multiselect();
		});
	</script>
</th:block>
</html>