<!DOCTYPE html>
<html lang="pt" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/layout_padrao'" 
xmlns:brewer="http://brewer.algaworks.com"
xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
    <title>Pesquisa de funcionários</title>

    <script>
        function limparForm() {
            document.getElementById("formulario").reset();
        }
    </script>
</head>

<body>
    <section layout:fragment="conteudo">
        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Pesquisa de funcionários</h1>
                    </div>

                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/projeto-funcionario/novo}"> 
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                <span class="hidden-xs  hidden-sm">Alocar funcionário no projeto</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <form method="GET" th:object="${funcionariosProjetoFilter}" id="formulario">
                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="id">ID</label>
                        <input 
                            th:field="*{id}" 
                            id="id" 
                            type="text" 
                            class="form-control" 
                            autofocus="autofocus"
                        />
                    </div>

                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="carga-horaria">Carga Horária</label>
                        <input 
                            id="carga-horaria" 
                            th:field="*{cargaHoraria}"
                            type="text" 
                            class="form-control" 
                         />
                    </div>
                </div>
                
                <div class="row">
                    <div class="form-group  col-sm-4">
                        <label class="control-label" for="Gestor">Gestor</label>
                        <input 
                            th:field="*{gestor}" 
                            id="email" 
                            type="text" 
                            class="form-control" 
                            autofocus="autofocus"
                        />
                    </div>

                    <div class="form-group  col-sm-4">
                        <label class="control-label" for="inicio-participacao">Início da participação</label>
                        <input 
                            id="inicio-participacao" 
                            th:field="*{inicioParticipacao}"
                            type="date" 
                            class="form-control" 
                         />
                    </div>

                    <div class="form-group  col-sm-4">
                        <label class="control-label" for="fim-participacao">Início da participação</label>
                        <input 
                            id="fim-participacao" 
                            th:field="*{fimParticipacao}"
                            type="date" 
                            class="form-control" 
                         />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="projeto">Projeto</label> 
                        
                        <select id="projeto" class="form-control" th:field="*{projeto}">
                            <option value="">Projetos</option>
                            <option 
                                th:each="projeto: ${projetos}"
                                th:text="${projeto.nome}" 
                                th:value="${projeto.id}"
                            ></option>
                        </select>
                    </div>

                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="funcionario">Funcionário</label>
                         
                        <select id="funcionario" class="form-control" th:field="*{funcionario}">
                            <option value="">Funcionários</option>
                            <option 
                                th:each="funcionario: ${funcionarios}"
                                th:text="${funcionario.nome}" 
                                th:value="${funcionario.id}"
                            ></option>
                        </select>
                    </div>
                </div>

                <button type="button" class="btn  btn-danger" onclick="limparForm()">Limpar</button>
                <button type="submit" class="btn  btn-primary">Pesquisar</button>
            </form>



            <div class="table-responsive  cv-tabela-simples">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                        <th class="table-cervejas-col-projeto">
                                <a th:href="${pagina.urlOrdenada('projeto')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Projeto</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('projeto')} ? tag" 
                                        th:if="${pagina.ordenada('projeto')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-funcionario">
                                <a th:href="${pagina.urlOrdenada('funcionario')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Funcionário</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('funcionario')} ? tag" 
                                        th:if="${pagina.ordenada('funcionario')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-id">
                                <a th:href="${pagina.urlOrdenada('id')}" th:remove="${pagina.vazia} ? tag">
                                    <span>ID</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('id')} ? tag" 
                                        th:if="${pagina.ordenada('id')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-cargaHoraria">
                                <a th:href="${pagina.urlOrdenada('cargaHoraria')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Carga Horária</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('cargaHoraria')} ? tag" 
                                        th:if="${pagina.ordenada('cargaHoraria')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-gestor">
                                <a th:href="${pagina.urlOrdenada('gestor')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Gestor</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('gestor')} ? tag" 
                                        th:if="${pagina.ordenada('gestor')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-inicioParticipacao">
                                <a th:href="${pagina.urlOrdenada('inicioParticipacao')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Início da Participação</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('inicioParticipacao')} ? tag" 
                                        th:if="${pagina.ordenada('inicioParticipacao')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-nome-fimParticipacao">
                                <a th:href="${pagina.urlOrdenada('fimParticipacao')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Fim da Participação</span>
                                    <span 
                                        class="dropup" 
                                        th:remove="${pagina.descendente('fimParticipacao')} ? tag" 
                                        th:if="${pagina.ordenada('fimParticipacao')}"
                                    >
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="funcionario : ${pagina.conteudo}">
                            <td th:text="${funcionario.nome}"></td>
                            <td th:text="${funcionario.email}"></td>
                            <td th:text="${funcionario.cpf}"></td>
                            <td class="text-right" th:text="|R$ ${funcionario.salario}|">R$
                            <td th:text="${funcionario.nomeUsuario}"></td>
                            <td th:text="${funcionario.grupo.nome}"></td>
                            <td th:text="${funcionario.setor.nome}"></td>
                            <td class="text-center">
                                <a  class="btn  btn-link  btn-xs"
                                    title="Editar"
                                    th:href="@{/funcionario/editar/{codigo}(codigo=${funcionario.id})}"
                                > 
                                    <i  class="glyphicon 
                                        glyphicon-pencil">
                                    </i>
                                </a>
                                <a  class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" 
                                    title="Excluir" 
                                    data:url="@{/funcionario/{codigo}(codigo=${funcionario.id})}"
                                    data:objeto="${funcionario}"
                                >
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                                
                            </td>
                        </tr>
                        <tr th:if="${pagina.vazia}">
                            <td colspan="7">Nenhum funcionário encontrado.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
            <nav>
                <ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
                    <li th:class="${pagina.primeira} ? disabled">
                        <a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
                        <li th:class="${paginaAtual == numeroPagina} ? active">
                            <a th:href="${pagina.urlParaPagina(numeroPagina)}">
                                [[${p}]]</a>
                        </li>
                    </th:block>

                    <li th:class="${pagina.ultima} ? disabled">
                        <a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</body>

</html>