<head><meta charset="UTF-8" /></head>
<nav
	class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference"
	id="main-navbar">
	<div class="container-fluid">

		<div class="navbar-header">
			<a class="navbar-brand  hidden-xs" href="#">
				<p>IFJIRA</p>
			</a>

			<ul class="nav  navbar-nav">
				<li><a href="#" class="js-sidebar-toggle"><i
						class="fa  fa-bars"></i></a></li>
			</ul>
		</div>

		<ul class="nav navbar-nav  navbar-right">
			<li><a th:href="@{/logout}"><em class="fa  fa-sign-out"></em></a></li>
		</ul>

	</div>
</nav>