<aside class="aw-layout-sidebar  js-sidebar">
	<div class="aw-layout-sidebar__content">

		<nav class="aw-menu  js-menu">
			<ul class="aw-menu__list">

				<li class="aw-menu__item"><a href="dashboard.html"><i
						class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a></li>

				<li class="aw-menu__item  is-active"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Grupo</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/grupo/novo}">Cadastro</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/grupo/pesquisar}">Pesquisa</a></li>
					</ul>
					
				</li>
				
				<li class="aw-menu__item  is-active"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Setor</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/setor/novo}">Cadastro</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/setor/pesquisar}">Pesquisa</a></li>
					</ul>
					
				</li>
				
				<li class="aw-menu__item  is-active"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Funcionario</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/funcionario/novo}">Cadastro</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/funcionario/pesquisar}">Pesquisa</a></li>
					</ul>
					
				</li>
				
				<li class="aw-menu__item  is-active"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Projetos</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/projeto/novo}">Cadastro</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/projeto/pesquisar}">Pesquisa</a></li>
					</ul>
					
				</li>
				
				
				<li class="aw-menu__item  is-active"><a href="#"> <i
						class="fa  fa-fw  fa-file-text"></i><span>Projetos - Funcionarios</span> <i
						class="aw-menu__navigation-icon  fa"></i>
				</a>

					<ul class="aw-menu__list  aw-menu__list--sublist">
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/projeto-funcionario/novo}">Cadastro</a></li>
						<li class="aw-menu__item  aw-menu__item--link"><a
							th:href="@{/projeto-funcionario/pesquisar}">Pesquisa</a></li>
					</ul>
					
				</li>

			</ul>
		</nav>

	</div>
</aside>