<footer class="aw-layout-footer  js-content">
	<div class="container-fluid">
		<span class="aw-footer-disclaimer">&copy; 2018 IFSP Araraquara.
			Todos os direitos reservados.</span>
	</div>
</footer>