<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-BR"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout_padrao">

<body>
	<div th:each="erro : ${#fields.detailedErrors('${grupo.*}')}">
		<span th:text="${erro.message}"></span>
	</div>

	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">

					<div th:if="${grupo.id}" class="col-sm-10">
						<h1>Altera de grupo</h1>
					</div>
					<!-- ELSE -->
					<div th:unless="${grupo.id}" class="col-sm-10">
						<h1>Cadastro de grupo</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/grupo/pesquisar}"> <i
								class="glyphicon  
											glyphicon-plus-sign"></i> <span
								class="hidden-xs  hidden-sm"> Pesquisa</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<th:block th:include="fragments/mensagem-sucesso"></th:block>
			<form method="post" class="form-vertical  js-form-loading"
				th:object="${grupo}">
				<th:block th:include="fragments/mensagens-erro-validacao"></th:block>
				<div class="row">
					<input id="nome"
							type="hidden" class="form-control" name="id" th:field="*{id}" />
					<div class="form-group col-sm-12"
						th:classappend="${#fields.hasErrors('nome')} ? has-error">
						<label for="input-produto-nome">Nome *</label> <input id="nome"
							type="text" class="form-control" name="nome" th:field="*{nome}" />
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>

			</form>
		</div>
	</section>

</body>

</html>