<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'layout/layout_padrao'" xmlns:brewer="http://brewer.algaworks.com">

<head>
    <title>Pesquisa de grupos</title>

</head>

<body>
    <section layout:fragment="conteudo">
        <div class="page-header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10">
                        <h1>Pesquisa de grupos</h1>
                    </div>

                    <div class="col-sm-2">
                        <div class="aw-page-header-controls">
                            <a class="btn  btn-default" th:href="@{/grupo/novo}"> <i class="glyphicon  
								glyphicon-plus-sign"></i>
                                <span class="hidden-xs  hidden-sm"> Nova grupo</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <form method="GET" th:object="${gruposFilter}" id="formulario">
                <div class="row">
                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="nome">Nome</label> <input type="text" class="form-control" id="nome"
                            autofocus="autofocus" th:field="*{nome}" />
                    </div>

                    <div class="form-group  col-sm-6">
                        <label class="control-label" for="id">Id</label> <input type="text" class="form-control" id="id"
                            th:field="*{id}" />
                    </div>
                </div>

                <button type="button" class="btn  btn-danger" onclick="limparForm()">Limpar</button>
                <button type="submit" class="btn  btn-primary">Pesquisar</button>
            </form>



            <div class="table-responsive  cv-tabela-simples">
                <table class="table  table-hover">
                    <thead>
                        <tr>
                            <th class="table-cervejas-col-sku">
                                <a th:href="${pagina.urlOrdenada('id')}" th:remove="${pagina.vazia} ? tag">
                                    <span>ID</span>
                                    <span class="dropup" th:remove="${pagina.descendente('id')} ? tag" th:if="${pagina.ordenada('id')}">
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-nome">
                                <a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
                                    <span>Nome</span>
                                    <span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" th:if="${pagina.ordenada('nome')}">
                                        <span class="caret"></span>
                                    </span>
                                </a>
                            </th>
                            <th class="table-cervejas-col-acoes"></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="grupo : ${pagina.conteudo}">
                            <td class="text-center" th:text="${grupo.id}">AA1234</td>
                            <td th:text="${grupo.nome}">Cerveja Stella</td>
                            <td class="text-center"><a class="btn  btn-link  btn-xs" title="Editar" 
                                th:href="@{/grupo/editar/{codigo}(codigo=${grupo.id})}"> <i class="glyphicon 
                                glyphicon-pencil"></i>
                                </a> <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir"
                                    data:url="@{/grupo/{codigo}(codigo=${grupo.id})}" data:objeto="${grupo.nome}">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a></td>
                        </tr>
                        <tr th:if="${pagina.vazia}">
                            <td colspan="7">Nenhuma grupo encontrado</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
            <nav>
                <ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
                    <li th:class="${pagina.primeira} ? disabled">
                        <a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag">
                            <span>&laquo;</span>
                        </a>
                    </li>
                    <th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
                        <li th:class="${paginaAtual == numeroPagina} ? active">
                            <a th:href="${pagina.urlParaPagina(numeroPagina)}">
                                [[${p}]]</a>
                        </li>
                    </th:block>

                    <li th:class="${pagina.ultima} ? disabled">
                        <a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag">
                            <span>&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </section>
</body>

</html>