<!DOCTYPE html>
<html lang="pt" 
xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" 
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="'layout/layout_padrao'" 
xmlns:brewer="http://brewer.algaworks.com"
xmlns:data="http://www.thymeleaf.org/extras/data">

<head>
	<title>Pesquisa de cervejas</title>

	<script>
		function limparForm() {
			document.getElementById("formulario").reset();
		}
	</script>
</head>

<body>
	<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-10">
						<h1>Pesquisa de cervejas</h1>
					</div>

					<div class="col-sm-2">
						<div class="aw-page-header-controls">
							<a class="btn  btn-default" th:href="@{/cerveja/novo}"> <i class="glyphicon  
								glyphicon-plus-sign"></i>
								<span class="hidden-xs  hidden-sm"> Nova cerveja</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<form method="GET" th:object="${cervejasFilter}" id="formulario">
				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label" for="sku">SKU</label> <input type="text" class="form-control" id="sku" autofocus="autofocus"
						 th:field="*{sku}" />
					</div>

					<div class="form-group  col-sm-6">
						<label class="control-label" for="nome">Nome</label> <input type="text" class="form-control" id="nome" th:field="*{nome}" />
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label" for="estilo">Estilo</label> <select id="estilo" class="form-control" th:field="*{estilo}">
							<option value="">Todos os estilos</option>
							<option th:each="estilo : ${estilos}" th:text="${estilo.nome}" th:value="${estilo.codigo}"></option>
						</select>
					</div>

					<div class="form-group  col-sm-6">
						<label class="control-label" for="sabor">Sabor</label> <select id="sabor" class="form-control" th:field="*{sabor}">
							<option value="">Todos os sabores</option>
							<option th:each="sabor : ${sabores}" th:value="${sabor}" th:text="${sabor.descricao}"></option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="form-group  col-sm-6">
						<label class="control-label">Origem</label>
						<div>
							<th:block th:each="origem : ${origens}">
								<div class="radio  radio-inline">
									<input th:id="|id_${origem}|" type="radio" th:field="*{origem}" th:value="${origem}" name="origem" /> <label
									 th:for="|id_${origem}|" th:text="${origem.descricao}"> Nacional</label>
								</div>
							</th:block>
							<div class="radio  radio-inline">
								<input id="todasOrigens" type="radio" th:checked="*{origem} == null" name="origem" /> <label for="todasOrigens">Todas</label>
							</div>
						</div>
					</div>

					<div class="col-sm-6  form-group">
						<label for="precoDe">Preço unitário</label>
						<div class="form-inline">
							<input type="text" class="form-control  
								aw-form-control-inline-sm  
								js-decimal" id="precoDe"
							 th:field="*{valorDe}" />

							<label for="precoAte" class="aw-form-label-between">até</label>
							<input type="text" class="form-control  
								aw-form-control-inline-sm  
								js-decimal" id="precoAte"
							 th:field="*{valorAte}" />
						</div>
					</div>
				</div>
				<button type="button" class="btn  btn-danger" onclick="limparForm()">Limpar</button>
				<button type="submit" class="btn  btn-primary">Pesquisar</button>
			</form>



			<div class="table-responsive  cv-tabela-simples">
				<table class="table  table-hover">
					<thead>
						<tr>
							<th class="table-cervejas-col-foto"></th>
							<th class="table-cervejas-col-sku">
								<a th:href="${pagina.urlOrdenada('sku')}" th:remove="${pagina.vazia} ? tag">
									<span>SKU</span>
									<span class="dropup" th:remove="${pagina.descendente('sku')} ? tag" th:if="${pagina.ordenada('sku')}">
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-nome">
								<a th:href="${pagina.urlOrdenada('nome')}" th:remove="${pagina.vazia} ? tag">
									<span>Nome</span>
									<span class="dropup" th:remove="${pagina.descendente('nome')} ? tag" th:if="${pagina.ordenada('nome')}">
										<span class="caret"></span>
									</span>
								</a>
							</th>
							<th class="table-cervejas-col-estilo">Estilo</th>
							<th class="table-cervejas-col-origem">Origem</th>
							<th class="table-cervejas-col-valor">Valor</th>
							<th class="table-cervejas-col-acoes"></th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="cerveja : ${pagina.conteudo}">
							<td class="text-center">
								<img th:src="@{/fotos/thumbnail.{foto}(foto=${cerveja.fotoOuMock})}" class="img-responsive" />
							</td>
							<td class="text-center" th:text="${cerveja.sku}">AA1234</td>
							<td th:text="${cerveja.nome}">Cerveja Stella</td>
							<td th:text="${cerveja.estilo.nome}">Lager</td>
							<td th:text="${cerveja.origem.descricao}">Internacional</td>
							<td class="text-right" th:text="|R$ ${cerveja.valor}|">R$
								8.00</td>
							<td class="text-center"><a class="btn  btn-link  btn-xs" title="Editar"> <i class="glyphicon 
										glyphicon-pencil"></i>
								</a> <a class="btn  btn-link  btn-xs js-tooltip js-exclusao-btn" title="Excluir" 
								data:url="@{/cerveja/{codigo}(codigo=${cerveja.codigo})}"
								data:objeto="${cerveja.nome}">
									<i class="glyphicon glyphicon-remove"></i>
								</a></td>
						</tr>
						<tr th:if="${pagina.vazia}">
							<td colspan="7">Nenhuma cerveja encontrada</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>


		<div class="col-sm-12  text-center" th:if="${not pagina.vazia}">
			<nav>
				<ul class="pagination  pagination-sm" th:with="paginaAtual=${pagina.atual}">
					<li th:class="${pagina.primeira} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual - 1)}" th:remove="${pagina.primeira} ? tag">
							<span>&laquo;</span>
						</a>
					</li>
					<th:block th:each="p : ${#numbers.sequence(1, pagina.total)}" th:with="numeroPagina=${p - 1}">
						<li th:class="${paginaAtual == numeroPagina} ? active">
							<a th:href="${pagina.urlParaPagina(numeroPagina)}">
								[[${p}]]</a>
						</li>
					</th:block>

					<li th:class="${pagina.ultima} ? disabled">
						<a th:href="${pagina.urlParaPagina(paginaAtual + 1)}" th:remove="${pagina.ultima} ? tag">
							<span>&raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</section>
</body>

</html>